@using Ebasproyecto.Model
@model List<ProgramaFormacion>
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programas de formación</title>
    <style>
        .modal {
            display: none;
            position: fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
        }

        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
    </style>
</head>
<body>

    <button onclick="User(event)" id="openModalBtn">Crear</button>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Duracion</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            @foreach (var list in Model)
            {
                <tbody>
                    <tr>
                        <td>@list.Codigo</td>
                        <td>@list.Tipo</td>
                        <td>@list.Nombre</td>
                        <td>@list.Duracion</td>
                        <td>
                            <button onclick="Editar(event, '@list.Id.ToString()', '@list.Codigo', '@list.Tipo', '@list.Nombre', '@list.Duracion')">&#x270F; Editar</button>
                            <button onclick="Eliminar(event, '@list.Id.ToString()')">&#x1F5D1; Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>

    <!-- Modal para Crear Nuevo Programa -->
    <div id="CrearPrograma" class="modal">
        <div class="modal-content">
            <span class="close" id="closeCrearModalBtn">&times;</span>
            <h4>Crear nuevo programa de formación</h4>
            <form action="@Url.Action("Crear", "ProgramaFormacion")" method="post">
                <div class="mb-3">
                    <label for="Codigo" class="form-label">Código</label>
                    <input id="Codigo" type="text" name="Codigo" class="form-control" placeholder="Ingrese el código del programa" required />
                </div>
                <div class="mb-3">
                    <label for="Tipo" class="form-label">Tipo</label>
                    <select id="Tipo" name="Tipo" class="form-control" placeholder="Seleccione el tipo de prgrama">
                        <option value="Técnico">Técnico</option>
                        <option value="Tecnólogo">Tecnólogo</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="Nombre" class="form-label">Nombre</label>
                    <input id="Nombre" type="text" name="Nombre" class="form-control" placeholder="Ingrese el nombre del programa" required />
                </div>

                <div class="mb-3">
                    <label for="Duracion" class="form-label">Duracion</label>
                    <input id="Duracion" type="text" name="Duracion" class="form-control" placeholder="Ingrese la duración del programa" required />
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-secondary btn-block">Crear</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal para Editar Programa -->
    <div id="Editar" class="modal">
        <div class="modal-content">
            <span class="close" id="closeEditModalBtn">&times;</span>
            <h4>Editar Programa de Formación</h4>
            <form action="@Url.Action("Editar", "ProgramaFormacion")" method="post">
                <input type="hidden" id="EditarId" name="objectId" />
                <div class="mb-3">
                    <label for="EditarCodigo" class="form-label">Codigo</label>
                    <input id="EditarCodigo" type="text" name="Codigo" class="form-control" placeholder="Ingrese el codigo" required />
                </div>
                <div class="mb-3">
                    <label for="EditarTipo" class="form-label">Tipo</label>
                    <select id="EditarTipo" name="Tipo" class="form-control" placeholder="Seleccione el tipo de prgrama">
                        <option value="Técnico">Técnico</option>
                        <option value="Tecnólogo">Tecnólogo</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="EditarNombre" class="form-label">Nombre</label>
                    <input id="EditarNombre" type="text" name="Nombre" class="form-control" placeholder="Ingrese el nombre del programa" required />
                </div>
                <div class="mb-3">
                    <label for="EditarDuracion" class="form-label">Duracion</label>
                    <input id="EditarDuracion" type="text" name="Duracion" class="form-control" placeholder="Ingrese la duración del programa" required />
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-secondary btn-block">Editar</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal para Confirmación de Eliminación -->
    <div id="Eliminar" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmación de Eliminación</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" onclick="Cerrar()">&times;</button>
            </div>
            <form action="@Url.Action("Eliminar", "ProgramaFormacion")" method="post">
                <input type="hidden" id="deleteId" name="objectId" />
                <p>¿Estás seguro de que quieres eliminar este equipo?</p>
                <button type="submit" class="btn btn-danger">Sí</button>
                <button type="button" class="btn btn-secondary" onclick="Cerrar()">No</button>
            </form>
        </div>
    </div>

    <script>
        // Modal para crear programa
        var createModal = document.getElementById("CrearPrograma");
        var openCreateModalBtn = document.getElementById("openModalBtn");
        var closeCreateModalBtn = document.getElementById("closeCrearModalBtn");

        openCreateModalBtn.onclick = function () {
            createModal.style.display = "block";
        }

        closeCreateModalBtn.onclick = function () {
            createModal.style.display = "none";
        }

        // Modal para editar programa
        var editModal = document.getElementById("Editar");
        var closeEditModalBtn = document.getElementById("closeEditModalBtn");

        function Editar(event, id, Codigo, Tipo, Nombre, Duracion) {
            event.preventDefault();
            document.getElementById("EditarId").value = id;
            document.getElementById("EditarCodigo").value = Codigo;
            document.getElementById("EditarTipo").value = Tipo;
            document.getElementById("EditarNombre").value = Nombre;
            document.getElementById("EditarDuracion").value = Duracion;
            editModal.style.display = "block";
        }

        closeEditModalBtn.onclick = function () {
            editModal.style.display = "none";
        }

        // Modal para eliminar programa
        var deleteModal = document.getElementById("Eliminar");

        function Eliminar(event, id) {
            event.preventDefault();
            document.getElementById("deleteId").value = id;
            deleteModal.style.display = "block";
        }

        function Cerrar() {
            deleteModal.style.display = "none";
        }

        window.onclick = function (event) {
            if (event.target == createModal) {
                createModal.style.display = "none";
            } else if (event.target == editModal) {
                editModal.style.display = "none";
            } else if (event.target == deleteModal) {
                deleteModal.style.display = "none";
            }
        }
    </script>

</body>
</html>

