@using Ebasproyecto.Model
@model List<RegistroAsistencia>
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Asistencias</title>
    <style>
        .modal {
            display: none;
            position: fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
        }

        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
    </style>
</head>
<body>

    <button onclick="User(event)" id="openModalBtn">Crear</button>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Asistio</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            @foreach (var list in Model)
            {
                <tbody>
                    <tr>
                        <td>@list.Fecha</td>
                        <td>@list.Hora</td>
                        <td>
                            @*<button onclick="Editar(event, '@list.Id.ToString()', '@list.Fecha', '@list.Hora', '@list.Asistio')">&#x270F; Editar</button>*@
                            <button onclick="Eliminar(event, '@list.Id.ToString()')">&#x1F5D1; Eliminar</button>
                        </td>
                    </tr>
                </tbody>
             }
        </table>
    </div>

    <!-- Modal para Crear Nuevo Programa -->
    <div id="CrearRegistro" class="modal">
        <div class="modal-content">
            <span class="close" id="closeCrearModalBtn">&times;</span>
            <h4>Crear Nuevo Registro Asistencia</h4>
            <form action="@Url.Action("Crear", "RegistroAsistencia")" method="post">
                <div class="mb-3">
                    <label for="Fecha" class="form-label">Fecha</label>
                    <input id="Fecha" type="text" name="Fecha" class="form-control" placeholder="Ingrese la fecha" required />
                </div>
                <div class="mb-3">
                    <label for="Hora" class="form-label">Hora</label>
                    <input id="Hora" type="text" name="Hora" class="form-control" placeholder="Ingrese la hora" required />

                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-secondary btn-block">Crear</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal para Editar Programa -->
    @*<div id="Editar" class="modal">
        <div class="modal-content">
            <span class="close" id="closeEditModalBtn">&times;</span>
            <h4></h4>
            <form action="@Url.Action("Editar", "Asistencia")" method="post">
                <input type="hidden" id="EditarId" name="objectId" />
                <div class="mb-3">
                    <label for="EditarDetalles" class="form-label">Codigo</label>
                    <input id="EditarDetalles" type="text" name="Codigo" class="form-control" placeholder="Ingrese el detalle" required />
                </div>
                <div class="mb-3">
                    <label for="EditarFecha" class="form-label">Tipo</label>
                    <input id="EditarFecha" type="text" name="Fecha" class="form-control" placeholder="Ingrese la fecha de la asistencia" required />

                </div>
                <div class="mb-3">
                    <label for="EditarHoraInicio" class="form-label">Hora Inicio</label>
                    <input id="EditarHoraInicio" type="text" name="HoraInicio" class="form-control" placeholder="Ingrese la hora inicio de la asistencia" required />
                </div>
                <div class="mb-3">
                    <label for="EditarHoraFin" class="form-label">Hora fin</label>
                    <input id="EditarHoraFin" type="text" name="HoraFin" class="form-control" placeholder="Ingrese la hora fin de la asistencia" required />
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-secondary btn-block">Editar</button>
                </div>
            </form>
        </div>
    </div>*@

    <!-- Modal para Confirmación de Eliminación -->
    <div id="Eliminar" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmación de Eliminación</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" onclick="Cerrar()">&times;</button>
            </div>
            <form action="@Url.Action("Eliminar", "Registro")" method="post">
                <input type="hidden" id="deleteId" name="objectId" />
                <p>¿Estás seguro de que quieres eliminar este equipo?</p>
                <button type="submit" class="btn btn-danger">Sí</button>
                <button type="button" class="btn btn-secondary" onclick="Cerrar()">No</button>
            </form>
        </div>
    </div>

    <script>
        // Modal para crear programa
        var createModal = document.getElementById("CrearRegistro");
        var openCreateModalBtn = document.getElementById("openModalBtn");
        var closeCreateModalBtn = document.getElementById("closeCrearModalBtn");

        openCreateModalBtn.onclick = function () {
            createModal.style.display = "block";
        }

        closeCreateModalBtn.onclick = function () {
            createModal.style.display = "none";
        }

        // Modal para editar programa
        //var editModal = document.getElementById("Editar");
        //var closeEditModalBtn = document.getElementById("closeEditModalBtn");

        //function Editar(event, id, Detalles, Fecha, HoraInicio, HoraFin) {
        //    event.preventDefault();
        //    document.getElementById("EditarId").value = id;
        //    document.getElementById("EditarDetalles").value = Detalles;
        //    document.getElementById("EditarFecha").value = Fecha;
        //    document.getElementById("EditarHoraInicio").value = HoraInicio;
        //    document.getElementById("EditarHoraFin").value = HoraFin;
        //    editModal.style.display = "block";
        //}

        //closeEditModalBtn.onclick = function () {
        //    editModal.style.display = "none";
        //}

        // Modal para eliminar programa
        var deleteModal = document.getElementById("Eliminar");

        function Eliminar(event, id) {
            event.preventDefault();
            document.getElementById("deleteId").value = id;
            deleteModal.style.display = "block";
        }

        function Cerrar() {
            deleteModal.style.display = "none";
        }

        window.onclick = function (event) {
            if (event.target == createModal) {
                createModal.style.display = "none";
            } else if (event.target == editModal) {
                editModal.style.display = "none";
            } else if (event.target == deleteModal) {
                deleteModal.style.display = "none";
            }
        }
    </script>

</body>
</html>

