<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ebas</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
    <style>
        .modal {
            display: none;
            position: fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
            justify-content: center;
            align-items: center;
        }

        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 90%;
            max-width: 600px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
            border-radius: 5px;
            overflow: auto;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
        }

            .close:hover,
            .close:focus {
                color: black;
                text-decoration: none;
            }
    </style>
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="index.html" style="font-weight: bold; font-size: 1.5rem; letter-spacing: 2px; text-transform: uppercase;">Ebas</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#" id="editProfileLink">Editar Perfil</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="@Url.Action("CerrarSesion", "Login")">Cerrar Sesión</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Panel</div>
                        <a class="nav-link" href="index.html">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16" style="margin-right: 8px;">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                            </svg>
                            Asistencia
                        </a>

                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    Ebas
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    @RenderBody()
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Ebas 2024</div>
                        <div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <div id="Editar" class="modal">
        <div class="modal-content">
            <span class="close" id="closeEditModalBtn">&times;</span>
            <h4>Editar Perfil</h4>
            <form action="@Url.Action("Editar", "Home")" method="post">
                <input type="hidden" id="EditarId" name="Id" value="" />
                <div class="mb-3">
                    <label for="EditarNombres" class="form-label">Nombres</label>
                    <input id="EditarNombres" type="text" name="Nombres" class="form-control" placeholder="Ingrese sus nombres" required />
                </div>
                <div class="mb-3">
                    <label for="EditarApellidos" class="form-label">Apellidos</label>
                    <input id="EditarApellidos" type="text" name="Apellidos" class="form-control" placeholder="Ingrese sus apellidos" required />
                </div>
                <div class="mb-3">
                    <label for="EditarDocumento" class="form-label">Documento</label>
                    <input id="EditarDocumento" type="text" name="Documento" class="form-control" placeholder="Ingrese su documento" required />
                </div>
                <div class="mb-3">
                    <label for="EditarTipoDocumento" class="form-label">Tipo de documento</label>
                    <select id="EditarTipoDocumento" name="TipoDocumento" class="form-control" placeholder="Seleccione su tipo de documento">
                        <option value="TI">TI</option>
                        <option value="CC">CC</option>
                        <option value="CE">CE</option>
                        <option value="PEP">PEP</option>
                        <option value="PPT">PPT</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="EditarCorreo" class="form-label">Correo</label>
                    <input id="EditarCorreo" type="text" name="Correo" class="form-control" placeholder="Ingrese su correo" required />
                </div>
                <div class="mb-3">
                    <label for="EditarTelefono" class="form-label">Teléfono</label>
                    <input id="EditarTelefono" type="text" name="Telefono" class="form-control" placeholder="Ingrese su teléfono" required />
                </div>
                <div class="mb-3">
                    <label for="EditarSexo" class="form-label">Sexo</label>
                    <input id="EditarSexo" type="text" name="Sexo" class="form-control" placeholder="Ingrese su sexo" required />
                </div>
                <div class="mb-3">
                    <label for="EditarEdad" class="form-label">Edad</label>
                    <input id="EditarEdad" type="text" name="Edad" class="form-control" placeholder="Ingrese su edad" required />
                </div>
                <div class="mb-3">
                    <label for="EditarEstadoCivil" class="form-label">Estado civil</label>
                    <input id="EditarEstadoCivil" type="text" name="EstadoCivil" class="form-control" placeholder="Ingrese su estado civil" required />
                </div>
                <div class="mb-3">
                    <label for="EditarMunicipio" class="form-label">Municipio</label>
                    <input id="EditarMunicipio" type="text" name="Municipio" class="form-control" placeholder="Ingrese su municipio" required />
                </div>
                <div class="mb-3">
                    <label for="EditarDireccion" class="form-label">Dirección</label>
                    <input id="EditarDireccion" type="text" name="Direccion" class="form-control" placeholder="Ingrese su dirección" required />
                </div>
                <div class="mb-3">
                    <label for="EditarTipoPoblacion" class="form-label">Tipo de población</label>
                    <input id="EditarTipoPoblacion" type="text" name="TipoPoblacion" class="form-control" placeholder="Ingrese su tipo de población" required />
                </div>
                <div class="mb-3">
                    <label for="EditarTipoUsuario" class="form-label">Tipo de usuario</label>
                    <select id="EditarTipoUsuario" name="TipoUsuario" class="form-control" placeholder="Seleccione su tipo de usuario">
                        <option value="PersonalAdministrativo">Personal Administrativo</option>
                        <option value="Aprendiz">Aprendiz</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="EditarContraseña" class="form-label">Contraseña</label>
                    <input id="EditarContraseña" type="password" name="Contraseña" class="form-control" placeholder="Ingrese su contraseña" required />
                </div>
                <button type="submit" class="btn btn-primary">Actualizar</button>
            </form>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/complementos")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
   document.getElementById('editProfileLink').addEventListener('click', function (event) {
    event.preventDefault();

    $.ajax({
        url: '@Url.Action("CargarDatosEditar", "Home")',
        type: 'GET',
        dataType: 'json',
        success: function (response) {
            if (response.success) {
                // Llena los campos del modal con los datos
                var data = response.data;
                document.getElementById('EditarNombres').value = data.Nombres;
                document.getElementById('EditarApellidos').value = data.Apellidos;
                document.getElementById('EditarDocumento').value = data.Documento;
                document.getElementById('EditarDocumento').value = data.Documento;
                document.getElementById('EditarTelefono').value = data.Telefono;
                document.getElementById('EditarCorreo').value = data.Correo;
                document.getElementById('EditarSexo').value = data.Sexo;
                document.getElementById('EditarEdad').value = data.Edad;
                document.getElementById('EditarMunicipio').value = data.Municipio;
                document.getElementById('EditarDireccion').value = data.Direccion;
                document.getElementById('EditarEstadoCivil').value = data.EstadoCivil;
                document.getElementById('EditarTipoDocumento').value = data.TipoDocumento;
                document.getElementById('EditarTipoPoblacion').value = data.TipoPoblacion;
                document.getElementById('EditarTipoUsuario').value = data.TipoUsuario;
                document.getElementById('EditarContraseña').value = data.Contraseña;
                document.getElementById('Editar').style.display = 'flex';
            } else {
                alert('Error: ' + response.message);
            }
        },
        error: function (xhr, status, error) {
            console.error('Error al cargar datos:', status, error);
            alert('Error al cargar los datos de perfil.');
        }
    });
});

document.getElementById('closeEditModalBtn').addEventListener('click', function () {
    document.getElementById('Editar').style.display = 'none';
});

window.onclick = function (event) {
    if (event.target == document.getElementById('Editar')) {
        document.getElementById('Editar').style.display = 'none';
    }
};

    </script>
</body>
</html>
