<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="index.html">Personal Administrativo</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            @*<div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
            </div>*@
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">Settings</a></li>
                    <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="#!">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Inicio</div>
                        <a class="nav-link" href="@Url.Action("Index","Home")">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Inicio
                        </a>
                        @*<div class="sb-sidenav-menu-heading"></div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Asistencias
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>*@
                        <li>@Html.ActionLink("Gestionar Evento", "Evento", "Evento", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Gestionar Asistencia", "Asistencia", "Asistencia", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Gestionar Fichas", "Index", "Fichas", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Gestionar Personal Administrativo", "user", "PersonalAdministrativo", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Gestionar Programa de Formación", "Programa", "ProgramaFormacion", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Editar Perfil", "#", "Home", new { area = "" }, new { @class = "nav-link" })</li>

                        @*<div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="@Url.Action("Asistencia","Asistencia")">Gestionar Asistencia</a>
                                <a class="nav-link" href="@Url.Action("Evento","Evento")">Gestionar Eventos</a>
                            </nav>
                        </div>*@
                        @*<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>

                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                    Authentication
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="login.html">Login</a>
                                        <a class="nav-link" href="register.html">Register</a>
                                        <a class="nav-link" href="password.html">Forgot Password</a>
                                    </nav>
                                </div>
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                    Error
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="401.html">401 Page</a>
                                        <a class="nav-link" href="404.html">404 Page</a>
                                        <a class="nav-link" href="500.html">500 Page</a>
                                    </nav>
                                </div>
                            </nav>
                        </div>*@
                        @*<div class="sb-sidenav-menu-heading">Addons</div>
                                <a class="nav-link" href="charts.html">
                                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                    Charts
                                </a>
                                <a class="nav-link" href="tables.html">
                                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                    Tables
                                </a>
                            </div>
                        </div>*@
                        <div class="sb-sidenav-footer">
                            <div class="small"></div>
                            AssistEbas
                        </div>
            </nav>
        </div>


        <div id="Editar" class="modal">
            <div class="modal-content">
                <span class="close" id="closeEditModalBtn">&times;</span>
                <h4>Editar Personal Administrativo</h4>
                <form action="@Url.Action("Editar", "Home")" method="post">
                    <input type="hidden" id="EditarId" name="objectId" />
                    <div class="mb-3">
                        <label for="EditarNombres" class="form-label">Nombres</label>
                        <input id="EditarNombres" type="text" name="Nombres" class="form-control" placeholder="Ingrese sus nombres" required />
                    </div>
                    <div class="mb-3">
                        <label for="EditarApellidos" class="form-label">Apellidos</label>
                        <input id="EditarApellidos" type="text" name="Apellidos" class="form-control" placeholder="Ingrese sus apellidos" required />
                    </div>
                    <div class="mb-3">
                        <label for="EditarDocumento" class="form-label">Documento</label>
                        <input id="EditarDocumento" type="text" name="Documento" class="form-control" placeholder="Ingrese su documento" required />
                    </div>
                    <div class="mb-3">
                        <label for="EditarTipoDocumento" class="form-label">Tipo de documento</label>
                        <select id="EditarTipoDocumento" name="TipoDocumento" class="form-control" placeholder="Seleccione su tipo de documento">
                            <option value="TI">TI</option>
                            <option value="CC">CC</option>
                            <option value="CE">CE</option>
                            <option value="PEP">PEP</option>
                            <option value="PPT">PPT</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="EditarCorreo" class="form-label">Correo</label>
                        <input id="EditarCorreo" type="text" name="Correo" class="form-control" placeholder="Ingrese su correo" required />
                    </div>
                    <div class="mb-3">
                        <label for="EditarTelefono" class="form-label">Teléfono</label>
                        <input id="EditarTelefono" type="text" name="Telefono" class="form-control" placeholder="Ingrese su teléfono" required />
                    </div>
                    <div class="mb-3">
                        <label for="EditarSexo" class="form-label">Sexo</label>
                        <input id="EditarSexo" type="text" name="Sexo" class="form-control" placeholder="Ingrese su sexo" required />
                    </div>
                    <div class="mb-3">
                        <label for="EditarEdad" class="form-label">Edad</label>
                        <input id="EditarEdad" type="text" name="Edad" class="form-control" placeholder="Ingrese su edad" required />
                    </div>
                    <div class="mb-3">
                        <label for="EditarEstadoCivil" class="form-label">Estado civil</label>
                        <input id="EditarEstadoCivil" type="text" name="EstadoCivil" class="form-control" placeholder="Ingrese su Estado civil" required />
                    </div>
                    <div class="mb-3">
                        <label for="EditarMunicipio" class="form-label">Municipio</label>
                        <input id="EditarMunicipio" type="text" name="Municipio" class="form-control" placeholder="Ingrese el municipio donde vive " required />
                    </div>
                    <div class="mb-3">
                        <label for="EditarDireccion" class="form-label">Dirección</label>
                        <input id="EditarDireccion" type="text" name="Direccion" class="form-control" placeholder="Ingrese su dirección" required />
                    </div>
                    <div class="mb-3">
                        <label for="EditarTipoPoblacion" class="form-label">Tipo de población</label>
                        <input id="EditarTipoPoblacion" type="text" name="TipoPoblacion" class="form-control" placeholder="Ingrese su Tipo de población " required />
                    </div>
                    <div class="mb-3">
                        <label for="EditarTipoUsuario" class="form-label">Tipo de usuario</label>
                        <input id="EditarTipoUsuario" type="text" name="TipoUsuario" class="form-control" placeholder="Ingrese su Tipo de usuario" required />
                    </div>
                    <div class="mb-3">
                        <label for="EditarContraseña" class="form-label">Tipo de contraseña</label>
                        <input id="EditarContraseña" type="password" name="Contraseña" class="form-control" placeholder="Ingrese su contraseña" required />
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-secondary btn-block">Editar</button>
                    </div>
                </form>
            </div>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    @RenderBody()
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Ebas 2024</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/complementos")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
