
@model List<Ebasproyecto.Model.Evento>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout A.cshtml";
}

<h2>Eventos Registrados</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre Evento</th>
                <th>Descripción</th>
                <th>Organizador</th>
                <th>Fecha del Evento</th>
                <th>Hora Inicio</th>
                <th>Hora Fin</th>
               




            </tr>
        </thead>
        <tbody>
            @foreach (var evento in Model)
            {
                <tr>
                    <td>@evento.NombreEvento</td>
                    <td>@evento.Descripcion</td>
                    <td>@evento.Organizador</td>
                    <td>@evento.FechaEvento</td>
                    <td>@evento.HoraInicio</td>
                    <td>@evento.HoraFin</td>
                    <button onclick="window.location.href='URL_DE_LA_VISTA';">Registrar Asistencia</button>

                </tr>
            }
        </tbody>
    </table>
</div>