@using Ebasproyecto.Model
@model List<Evento>
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>  
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos</title>
    <style>
        .modal {
            display: none;
            position: fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
        }

        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
    </style>
</head>
<body>
    <button onclick="User(event)" id="openModalBtn">Crear</button>
    <button type="button" class="btn-custom" onclick="window.location.href='@Url.Action("GenerarReporteEventos", "Evento")'" id="BottomPdf">
        Generar Reporte PDF
    </button>

    <style>
        .btn-custom {
            background-color: #28a745;
            color: white;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;
            font-weight: bold; /* Texto en negrita */
        }

            .btn-custom:hover {
                background-color: #218838; /* Color más oscuro para el hover */
            }
    </style>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nombre Evento</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Organizador</th>
                    <th scope="col">Fecha Evento</th>
                    <th scope="col">Hora Inicio</th>
                    <th scope="col">Hora Fin</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            @foreach (var list in Model)
            {
                <tbody>
                    <tr>
                        <td>@list.NombreEvento</td>
                        <td>@list.Descripcion</td>
                        <td>@list.Organizador</td>
                        <td>@list.FechaEvento</td>
                        <td>@list.HoraInicio</td>
                        <td>@list.HoraFin</td>
                        <td>
                            <button onclick="Editar(event, '@list.Id.ToString()', '@list.NombreEvento', '@list.Descripcion', '@list.Organizador', '@list.FechaEvento','@list.HoraInicio', '@list.HoraFin')">&#x270F; Editar</button>
                            <button onclick="Eliminar(event, '@list.Id.ToString()')">&#x1F5D1; Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>

    <!-- Modal para Crear Nuevo Evento -->
    <div id="CrearEvento" class="modal">
        <div class="modal-content">
            <span class="close" id="closeCrearModalBtn">&times;</span>
            <h4>Crear Nuevo Evento</h4>
            <form action="@Url.Action("Crear", "Evento")" method="post">
                <div class="mb-3">
                    <label for="NombreEvento" class="form-label">Nombre Evento</label>
                    <input id="NombreEvento" type="text" name="NombreEvento" class="form-control" placeholder="Ingrese el nombre del evento" required />
                </div>
                <div class="mb-3">
                    <label for="Descripcion" class="form-label">Descripción</label>
                    <input id="Descripcion" type="text" name="Descripcion" class="form-control" placeholder="Ingrese la descripción del evento" required />
                </div>
                <div class="mb-3">
                    <label for="Organizador" class="form-label">Organizador</label>
                    <input id="Organizador" type="text" name="Organizador" class="form-control" placeholder="Ingrese el nombre del organizador del evento" required />
                </div>
                <div class="mb-3">
                    <label for="FechaEvento" class="form-label">Fecha Evento</label>
                    <input id="FechaEvento" type="date" name="FechaEvento" class="form-control" placeholder="Ingrese la fecha del evento" min="@DateTime.Now.ToString("yyyy-MM-dd")" required />
                </div>
                <div class="mb-3">
                    <label for="HoraInicio" class="form-label">Hora Inicio</label>
                    <input id="HoraInicio" type="time" name="HoraInicio" class="form-control" placeholder="Ingrese la hora inicio del evento" required />
                </div>
                <div class="mb-3">
                    <label for="HoraFin" class="form-label">Hora Fin</label>
                    <input id="HoraFin" type="time" name="HoraFin" class="form-control" placeholder="Ingrese la hora fin del evento" required />
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-secondary btn-block">Crear</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal para Editar Evento -->
    <div id="Editar" class="modal">
        <div class="modal-content">
            <span class="close" id="closeEditModalBtn">&times;</span>
            <h4>Editar Evento</h4>
            <form action="@Url.Action("Editar", "Evento")" method="post">
                <input type="hidden" id="EditarId" name="objectId" />
                <div class="mb-3">
                    <label for="EditarNombreEvento" class="form-label">Nombre</label>
                    <input id="EditarNombreEvento" type="text" name="NombreEvento" class="form-control" placeholder="Ingrese el nombre del evento" required />
                </div>
                <div class="mb-3">
                    <label for="EditarDescripcion" class="form-label">Descripción</label>
                    <input id="EditarDescripcion" type="text" name="Descripcion" class="form-control" placeholder="Ingrese la descripcion del evento" required />
                </div>
                <div class="mb-3">
                    <label for="EditarOrganizador" class="form-label">Organizador</label>
                    <input id="EditarOrganizador" type="text" name="Organizador" class="form-control" placeholder="Ingrese el nombre del organizador del evento" required />
                </div>
                <div class="mb-3">
                    <label for="EditarFechaEvento" class="form-label">Fecha Evento</label>
                    <input id="EditarFechaEvento" type="date" name="FechaEvento" class="form-control" placeholder="Ingrese la fecha del evento" min="@DateTime.Now.ToString("yyyy-MM-dd")" required />
                </div>
                <div class="mb-3">
                    <label for="EditarHoraInicio" class="form-label">Hora Inicio</label>
                    <input id="EditarHoraInicio" type="time" name="HoraInicio" class="form-control" placeholder="Ingrese la hora inicio del evento" required />
                </div>
                <div class="mb-3">
                    <label for="EditarHoraFin" class="form-label">Hora Fin</label>
                    <input id="EditarHoraFin" type="time" name="HoraFin" class="form-control" placeholder="Ingrese la hora fin del evento" required />
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-secondary btn-block">Editar</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal para Confirmación de Eliminación -->
    <div id="Eliminar" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmación de Eliminación</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" onclick="Cerrar()">&times;</button>
            </div>
            <form action="@Url.Action("Eliminar", "Evento")" method="post">
                <input type="hidden" id="deleteId" name="objectId" />
                <p>¿Estás seguro de que quieres eliminar este Evento?</p>
                <button type="submit" class="btn btn-danger">Sí</button>
                <button type="button" class="btn btn-secondary" onclick="Cerrar()">No</button>
            </form>
        </div>
    </div>

    <script>
        // Modal para crear evento
        var createModal = document.getElementById("CrearEvento");
        var openCreateModalBtn = document.getElementById("openModalBtn");
        var closeCreateModalBtn = document.getElementById("closeCrearModalBtn");

        openCreateModalBtn.onclick = function () {
            createModal.style.display = "block";
        }

        closeCreateModalBtn.onclick = function () {
            createModal.style.display = "none";
        }

        // Modal para editar evento
        var editModal = document.getElementById("Editar");
        var closeEditModalBtn = document.getElementById("closeEditModalBtn");

        function Editar(event, id, nombre, descripcion, organizador, fechaEvento, horaInicio, horaFin) {
            document.getElementById("EditarId").value = id;
            document.getElementById("EditarNombreEvento").value = nombre;
            document.getElementById("EditarDescripcion").value = descripcion;
            document.getElementById("EditarOrganizador").value = organizador;
            document.getElementById("EditarFechaEvento").value = fechaEvento;
            document.getElementById("EditarHoraInicio").value = horaInicio;
            document.getElementById("EditarHoraFin").value = horaFin;
            editModal.style.display = "block";
        }

        closeEditModalBtn.onclick = function () {
            editModal.style.display = "none";
        }

        // Modal para eliminar evento
        var deleteModal = document.getElementById("Eliminar");

        function Eliminar(event, id) {
            document.getElementById("deleteId").value = id;
            deleteModal.style.display = "block";
        }

        function Cerrar() {
            deleteModal.style.display = "none";
        }
    </script>
</body>
</html>
