@using Ebasproyecto.Model
@model List<RegistroAsistencia>

@{
    ViewBag.Title = "Asistencia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Asistencia</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Nombre del Aprendiz</th>
            <th>Nombre del Evento</th>
            <th>Asistencia</th>
            <th>Fecha</th>
            <th>Hora</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UsuarioId</td>
                <td>@item.EventoId</td>
                <td>@item.Nombres</td>
                <td>@item.NombreEvento</td>
                <td>@item.Asistio</td>
                <td>@item.Fecha</td>
                <td>@item.Hora</td>
            </tr>
        }
    </tbody>
</table>

