@using Ebasproyecto.Model
@model List<RegistroAsistencia>

@{
    ViewBag.Title = "Asistencia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Asistencia</h2>

<button type="button" class="btn-custom" onclick="window.location.href='@Url.Action("GenerarReporteAsistencia", "PersonalAdministrativo")'" id="BottomPdf">
    Generar Reporte PDF
</button>
<style>
    .btn-custom {
        background-color: #28a745;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
        font-weight: bold; /* Texto en negrita */
    }

        .btn-custom:hover {
            background-color: #218838; /* Color más oscuro para el hover */
        }
</style>


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Nombre del Aprendiz</th>
            <th>Nombre del Evento</th>
            <th>Asistencia</th>
            <th>Fecha</th>
            <th>Hora</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>@item.Nombres</td>
                <td>@item.NombreEvento</td>
                <td>@(item.Asistio ? "Sí" : "No")</td>
                <td>@item.Fecha</td>
                <td>@DateTime.Parse(item.Hora).ToString("hh:mm tt")</td> <!-- Formato AM/PM -->
            </tr>
        }
    </tbody>
</table>

